<div class="hh-box">
	<img class="hh-box-img" src="https://www.apple.com/newsroom/images/2024/09/apple-debuts-iphone-16-pro-and-iphone-16-pro-max/article/Apple-iPhone-16-Pro-hero-geo-240909_inline.jpg.large.jpg" />
	<h5>IPHONE 16</h5>
	1909$
</div>